<template>
  <div class="registry">
    EDIT Video id: {{ videoId }}
    <youtube :video-id="videoId" ref="youtube"></youtube>
    <button @click="playVideo">play</button>
    <button @click="pauseVideo">pause</button>
    <button @click="addNote">add note</button>
    <button @click="isAutoPlay = !isAutoPlay">turn {{ isAutoPlay ? 'óff' : 'ón  ' }} AutoPlay</button>

    <p v-bind:key="index" v-for="(note, index) in notes">
      <button class='btn btn-primary' @click="seekTo(index)">
        {{ utils.toHumanTime(note.start) }}
        - {{ utils.toHumanTime(note.end) }}
      </button>
      <input type="text" v-model="note.body"></input>
      <span v-if="note.current" class="current">current</span>
      </p>

    <player-slider 
      v-bind:currentTimestamp="currentTime" 
      v-bind:maxVideoLength="maxVideoLength"></player-slider>
  </div>
</template>

<script>
import _ from 'lodash';
import PlayerSlider from './PlayerSlider.vue';
import { timer } from 'vue-timers'
import utils from '../utilities/helper.js';

export default {
  props: {
    videoId: {
      type: String,
      default: 'g20t_K9dlhU'
    }
  },
  components: {
    PlayerSlider,
  },
  data: function() {
    return {
      utils: utils,
      notes: [],
      currentTime: 0,
      maxVideoLength: 0,

      activeNoteIndex: null,
      isAutoPlay: true,

      debug: false,
      lastSavedTime: null,
      markings: [],
      actions: []
    };
  },
  timers: {
    playPing: { time: 100, autostart: true, repeat: true, immediate: true }
  },
  created() {},
  destroyed() {},
  mounted() {
    this.player.getDuration().then(message => {
      this.maxVideoLength = message;
    });

    this.notes.push({start: 3, end: 5, body: 'foo', current: false})
    this.notes.push({start: 8, end: 10, body: 'foo2 ', current: false})
    this.notes.push({start: 14, end: 15, body: 'foo3 ', current: false})
    this.notes.push({start: 25, end: 27, body: 'foo 4', current: false})
  },
  computed: {
    player() {
      return this.$refs.youtube.player;
    },
    activeNote() {
      return this.notes[this.activeNoteIndex]
    }
  },
  watch: {
  },
  methods: {
    formatToHumanTime(timestamp) {
      return toHumanTime(timestamp);
    },
    playVideo() {
      this.player.playVideo();
    },
    playPing: function() {
      this.player.getCurrentTime().then((time) => {
        // let progress = (time / totalTime) * 100;
        // this.progress = progress < 100 ? progress : 100;
        this.currentTime = time
        this.setNoteAsCurrent(this.currentTime)

        if(this.activeNoteIndex != null && this.currentTime >= this.activeNote.end) {
          if(this.isAutoPlay) {
            this.goToNextNote();
          } else {
            this.pauseVideo();  
          }
        }
      });
    },
    pauseVideo() {  
      this.player.pauseVideo();
    },
    async addNote() {
      var currentTimestamp = await this.player.getCurrentTime();

      this.addToTimestamps(currentTimestamp);
      this.setNoteAsCurrent(currentTimestamp)
    },
    setNoteAsCurrent(time) {
      this.notes.forEach((note, index) => {
        note.current = time >= note.start && time <= note.end
        this.notes.splice(index, 1, note)
      });

      this.notes = this.notes.slice();
    },
    seekTo(index) {
      this.activeNoteIndex = index;

      this.player.seekTo(this.activeNote.start);
      this.playVideo();

      //
    },
    addToTimestamps(newTimestamp) {
      let note = {
        start: newTimestamp,
        end: newTimestamp + 10,
        body: '',
      }

      // sorting

      this.notes.push(note);
      return note;
    },
    goToNextNote() {
      this.activeNoteIndex++;
      if (this.activeNoteIndex >= this.notes.length) {
        this.activeNoteIndex = null
        this.pauseVideo()
        return false
      }
      this.seekTo(this.activeNoteIndex);
    }
  }
};
</script>

<style lang='scss' scoped>
.debug {
  overflow: scroll;

}
.current {
  color: red;
}
</style>
