<template>
  <div class="slider">
    SLIDER: {{ utils.toHumanTime(currentTimestamp) }}

    <div class="slidecontainer">
      <input type="range" min="1" :max="maxVideoLength" :value="currentTimestamp" class="slider" id="myRange">
    </div>
  </div>
</template>

<script>
import utils from '../utilities/helper.js';

export default {
  props: {
    currentTimestamp: {
      default: 0,
      type: Number,
    },
    maxVideoLength: {
      default: 0,
      type: Number,
    }
  },
  components: {},
  data: function() {
    return {
      utils: utils,
      time: '00:00',
    };
  },
  timers: {
  },
  created() {},
  destroyed() {},
  mounted() {},
  computed: {
  },
  methods: {
    updateTime(time) {
      time = Math.round(time);
      let minutes = Math.floor(time / 60);
      let seconds = time - minutes * 60;

      seconds = seconds < 10 ? '0' + seconds : seconds;
      minutes = minutes < 10 ? '0' + minutes : minutes;

      this.time = minutes + ':' + seconds;
    },
  }
};
</script>

<style lang='scss' scoped>
.debug {
  overflow: scroll;
}
</style>
